<!DOCTYPE html>
<html>

<head>
    <title>MANAGEMENT APPLICATION</title>
</head>

<body>
    <h1 style="text-align:center">Employee Management</h1>

    <form action="/delete" method="POST">
        <pre>
            Enter ID to delete             : <input type="text" name="empid" pattern="\d+"  required> <br>

            <input type="submit" value="Delete Details">
        </pre>
    </form>
</body>

</html>
