<html>

<head>
    <title>MANAGEMENT APPLICATION</title>
</head>

<body>
    <h1 style="text-align:center">Employee Management</h1>

    <form action="/getById" method="POST">
        <pre>
            Enter Employee ID             : <input type="text" name="empid" pattern="\d+"  required> <br>  

            <input type="submit" value="Get Details">
        </pre>
    </form>
</body>

</html>
