<html>

    <head>
        <title>MANAGEMENT APPLICATION</title>
    </head>

    <body>
        <h1 style="text-align:center">Employee Management</h1>
   <br>
   <p>
<button onclick="location.href='//localhost:3000/add'">Add Employee Details</button>

<button onclick="location.href='//localhost:3000/delete'">Delete Employee Details</button>

<button onclick="location.href='//localhost:3000/update'">Update Employee Details</button>

<button onclick="location.href='//localhost:3000/getById'">Get Employee Details By Id</button>

<button onclick="location.href='//localhost:3000/getAll'">Get All Employee Details</button>
</p>
</body>
</html>
